#text {
    width: 99.5% !important;
    min-height: 400px;
}

#preview {
    border: 1px solid lightgrey;
    border-radius: 4px;
    padding: 10px;
    /*width: 738px !important;*/
    overflow-x: scroll;
    height: 400px;
    resize: both;
}